body {
  background-color: purple;
}
img{
  border-radius: 0px;
}
h1{
  text-align: center;
  color:white;
  font-size: 20px;
  text-align: left;
  margin: inherit;
}
h2{
  margin: 0px 0px 0px 0px;
  color:white;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 0.4em orange, 0 0 0.4em orange,
		0 0 0.4em orange

}
h3{
    text-align: center;
    color:white;
    font-size: 20px;
    font-style: italic;
}

h4{
  font-size: 25px;
  color: white;
  text-shadow: red 0.1em 0.1em 0.2em
  }

.content{
  background-color: #3FB2CE;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  border-style: dotted;
}

.p1{
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  font-style: oblique;
}

hr {border: 0; height: 12px; box-shadow: inset 0 12px 12px -12px blue;}
